.main-container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 20px;
  width: 100%;
}

.items-wrapper {
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.main-container .items-wrapper div {
  flex: 0 1 16%;
  margin: 20px 1.75%;
}
