:host {
  display: block;
  min-width: 320px;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
}

.navbar a {
  color: rgba(255,255,255,1);
  margin-right: 20px;
  text-decoration: none;
}

.navbar a:hover {
  opacity: 0.75;
}

.navbar .spacer {
  flex: 1 1 auto;
}
