.main-container {
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1280px;
  padding: 20px;
  width: 100%;
}

.main-container div {
  flex: 0 1 30%;
  margin: 40px 1.5%;
}
